/* .crousal{
  position: relative;
  left: 10%;
}
 */
 .map{
  margin-top: 5%;
  color: #254D4D;
  display: flex;
  justify-content: center;
 }
  .map iframe{
    box-shadow: #14141436 0px 0px 10px 1px;
    border-radius: 50px;
    width: 200%;
    max-height: 400%;
  }
  .map-txt{
    margin-top: 5%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
@media (max-width: 768px){
  .map{
    flex-direction: column;
  }
  .map iframe{
    margin-left: 20px;
    width: 90%;
    max-height: 20rem;
  }
  .map-txt{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
  }
  

}
.development-phase {
  width: 100%;
  overflow: hidden;
  background-color: #ffe6e6;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.1rem;
  color: red;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
}

.development-phase span {
  display: inline-block;
  min-width: max-content;
  animation: slideTextRight 15s linear infinite;
}

@keyframes slideTextRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

